# import data

In [1]:
import pandas as pd
import numpy as np
from WindPy import *
#Wind API 使用W账户密码登录
w.start() 
#return True and then can go to next operation.
w.isconnected()

22.11.1.52440
Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2021 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

True

In [2]:
df_origin = pd.read_excel('stocks.xlsx')
df_contract_value =  df_origin.set_index('date')[['lastUpdateTime','Unnamed: 82']].reset_index()
df_contract_value.columns = ['code','value','industry']
code_list = df_origin['date'].unique().tolist()
stk_code_list = []
for code in code_list:
    if len(str(code).split('.')) == 2:
        if str(code).split('.')[1] == 'HK' or str(code).split('.')[1] == 'SH' or str(code).split('.')[1] == 'SZ':
            if len(str(code).split('.')[0]) == 6:
                stk_code_list.append(code)
stk_code_str = ','.join(stk_code_list)
print(len(stk_code_list))
df_stk_wind =  w.wss(f"{stk_code_str}", "sec_name", "tradeDate=20221102;",usedf=True)[1]
code_list = df_origin['date'].unique().tolist()
stk_code_list = []
for code in code_list:
    if len(str(code).split('.')) == 2:
        if str(code).split('.')[1] == 'HK' or str(code).split('.')[1] == 'SH' or str(code).split('.')[1] == 'SZ':
            if len(str(code).split('.')[0]) == 6:
                stk_code_list.append(code)
stk_code_str = ','.join(stk_code_list)
print(len(stk_code_list))
df_stk_info = df_contract_value.set_index('code').loc[stk_code_list]
# pd.set_option('display.max_rows', None)
df_stk_info['name'] = df_stk_wind['SEC_NAME']
df_stk_clean = df_stk_info[df_stk_info['industry']!=0].fillna('工业').sort_values(by='industry').reset_index()
df_stk_clean = df_stk_clean[['code','name','value','industry']]
# pd.set_option('display.max_rows', None)
df_stk_clean['value'] = df_stk_clean['value'].apply(lambda x: format(x, 'f'))

tmp_str = ','.join(df_stk_clean['code'].tolist())
df_ipo_date = w.wss(tmp_str, "ipo_date", "",usedf=True)[1].reset_index()
df_stk_clean['IPO_DATE'] = df_ipo_date['IPO_DATE']
# df_stk_clean.to_excel('stock_hold.xlsx')

218
218

In [3]:
# pd.set_option('display.max_rows', None)
df_stk_clean

          code  name            value industry   IPO_DATE
0    601006.SH  大秦铁路   1675401.000000     交通运输 2006-08-01
1    000088.SZ   盐田港    127506.000000     交通运输 1997-07-28
2    600798.SH  宁波海运   1770720.000000     交通运输 1997-04-23
3    000099.SZ  中信海直    500916.000000     交通运输 2000-07-31
4    002027.SZ  分众传媒   7490642.000000       传媒 2004-08-04
..         ...   ...              ...      ...        ...
208  002726.SZ  龙大美食  20577789.540000     食品饮料 2014-06-26
209  002626.SZ   金达威  10064392.000000     食品饮料 2011-10-28
210  000858.SZ   五粮液   1425840.000000     食品饮料 1998-04-27
211  600197.SH   伊力特   2649348.000000     食品饮料 1999-09-16
212  600597.SH  光明乳业     99078.000000     食品饮料 2002-08-28

[213 rows x 5 columns]

In [4]:
idsty_stk_dic = {}
for index,row in df_stk_clean.iterrows():
    tmp_code = row['code']
    tmp_industry = row['industry']
    if tmp_industry not in idsty_stk_dic:
        idsty_stk_dic[tmp_industry] = [tmp_code]
    else:
        idsty_stk_dic[tmp_industry].append(tmp_code)
print(idsty_stk_dic.keys())
df_industry_count = pd.DataFrame(df_stk_clean['industry'].value_counts())
df_industry_count = df_industry_count.reset_index()
# df_industry_count.to_excel('industry.xlsx')
df_industry_count

dict_keys(['交通运输', '传媒', '公用事业', '农林牧渔', '医药生物', '商贸零售', '国防军工', '基础化工', '家用电器', '工业', '建筑材料', '建筑装饰', '房地产', '有色金属', '机械设备', '汽车', '煤炭', '环保', '电力设备', '电子', '石油石化', '社会服务', '美容护理', '计算机', '轻工制造', '通信', '钢铁', '银行', '非银金融', '食品饮料'])

   index  industry
0   医药生物        21
1     电子        21
2   电力设备        20
3   有色金属        12
4   非银金融        12
5   食品饮料        11
6   基础化工        11
7    计算机        10
8   家用电器         8
9   建筑装饰         8
10  国防军工         7
11  建筑材料         7
12    传媒         7
13    汽车         6
14  商贸零售         6
15  机械设备         5
16   房地产         5
17  公用事业         5
18  农林牧渔         4
19  轻工制造         4
20    银行         4
21  交通运输         4
22    环保         3
23    钢铁         3
24    煤炭         2
25  石油石化         2
26    通信         2
27    工业         1
28  社会服务         1
29  美容护理         1

# industry setting

In [5]:
target_industry = '基础化工'
df_stk_clean[df_stk_clean['industry']==target_industry]

         code  name             value industry   IPO_DATE
54  000792.SZ  盐湖股份   18804742.000000     基础化工 1997-09-04
55  600989.SH  宝丰能源   24221175.000000     基础化工 2019-05-16
56  000422.SZ  湖北宜化    4445584.000000     基础化工 1996-08-15
57  000731.SZ  四川美丰        797.000000     基础化工 1997-06-17
58  600352.SH  浙江龙盛     211352.000000     基础化工 2003-08-01
59  002497.SZ  雅化集团    2613930.000000     基础化工 2010-11-09
60  600309.SH  万华化学    2311014.000000     基础化工 2001-01-05
61  600273.SH  嘉化能源     228661.000000     基础化工 2003-06-27
62  600230.SH  沧州大化     729833.000000     基础化工 2000-04-06
63  002145.SZ  中核钛白   20785585.500000     基础化工 2007-08-03
64  600378.SH  昊华科技  121211697.000000     基础化工 2001-01-11

# return calculate

In [6]:
# cbond_list = ['113516.SH','110043.SH',
# ]
cbond_list = idsty_stk_dic[target_industry]  
# ###############################################################
before_trade_date = '20201029'#监测当日前一个交易日
present_date = '20201030' #监测当日
# before_trade_date = '20201026'#监测当日前一个交易日
# present_date = '20201027' #监测当日
# next_trade_date = '20220917' #监测当日下一个自然日
# ###############################################################

start_date = pd.to_datetime(before_trade_date) 

end_date = pd.to_datetime('20221030') #多一个月没关系，切片的时候，不需要这多出来的一个月的对子会切掉

cbond_price = pd.DataFrame([])
for code in cbond_list:
    price_df = w.wsi(code, "close", start_date, end_date,usedf=True)[1]   #只要了收盘价
    price_df.columns = [code]
    cbond_price = pd.concat([cbond_price,price_df],axis=1)
cbond_price = cbond_price.ffill()
# cbond_price = cbond_price[cbond_price.index.time!=time(15,0,0)]
# cbond_price = cbond_price.loc['2022-09-09 15:00:00':] #从前一个交易日的收盘价开始截取
cbond_price_begin_time = before_trade_date[:4]+'-' + \
                    before_trade_date[4:6]+'-' + \
                    before_trade_date[6:8]+' 15:00:00'
cbond_price = cbond_price.loc[cbond_price_begin_time:]
cbond_price

,000792.SZ,600989.SH,000422.SZ,000731.SZ,600352.SH,002497.SZ,600309.SH,600273.SH,600230.SH,002145.SZ,600378.SH
2020-10-29 15:00:00,NaN,10.62,2.61,4.97,13.59,13.25,78.45,9.86,9.82,5.80,22.28
2020-10-30 09:30:00,NaN,10.64,2.60,4.98,13.61,13.24,78.91,9.89,9.83,5.73,22.42
2020-10-30 09:31:00,NaN,10.62,2.60,4.97,13.60,13.27,79.30,9.84,9.86,5.72,22.40
2020-10-30 09:32:00,NaN,10.61,2.60,4.97,13.62,13.30,78.93,9.83,9.80,5.70,22.52
2020-10-30 09:33:00,NaN,10.60,2.60,4.98,13.62,13.23,79.07,9.81,9.79,5.72,22.58
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-28 14:56:00,21.87,12.28,14.29,7.70,8.90,26.01,82.43,8.71,17.09,6.54,42.67
2022-10-28 14:57:00,21.86,12.28,14.30,7.70,8.90,26.00,82.43,8.71,17.09,6.55,42.67
2022-10-28 14:58:00,21.86,12.28,14.30,7.70,8.90,26.00,82.43,8.71,17.09,6.55,42.67
2022-10-28 14:59:00,21.86,12.28,14.30,7.70,8.90,26.00,82.43,8.71,17.09,6.55,42.67
2022-10-28 15:00:00,21.85,12.26,14.28,7.69,8.90,25.97,82.20,8.72,17.10,6.55,42.59

In [7]:
# cbond_return_2 = pd.DataFrame(columns=cbond_list)
# # tmp_stk_code = '601006.SH'
# # cbond_preclose = cbond_pair_price.iloc[0,0] # 初始时刻的bond前收盘价
# stock_preclose_2 = cbond_price.iloc[0,:] # 初始时刻的stock前收盘价
# stock_preclose_2
# for index,row in cbond_price.iterrows():
#     # cbond_return.loc[index,cbond_pair[0]] = row[cbond_pair[0]]/cbond_preclose - 1 # 算日内的return
#     cbond_return_2.loc[index] = (row/stock_preclose_2-1).tolist()
#     if index.time()==time(15,0,0):  #算完日内return，迭代到今日价格的最后一个time bar的时候，将其设为前收盘价
#         # cbond_preclose = row[cbond_pair[0]]    # 日内return指标用 现价/昨日收盘价 计算
#         stock_preclose_2 = row
# cbond_return_2

In [8]:
cbond_return = pd.DataFrame([])
# tmp_stk_code = '601006.SH'
# cbond_preclose = cbond_pair_price.iloc[0,0] # 初始时刻的bond前收盘价
stock_preclose = cbond_price.iloc[0,:].tolist() # 初始时刻的stock前收盘价

for index,row in cbond_price.iterrows():
    
    # cbond_return.loc[index,cbond_pair[0]] = row[cbond_pair[0]]/cbond_preclose - 1 # 算日内的return
    for i in range(len(cbond_list)):
        cbond_return.loc[index,cbond_list[i]] = row[cbond_list[i]]/stock_preclose[i] - 1
        if index.time()==time(15,0,0):  #算完日内return，迭代到今日价格的最后一个time bar的时候，将其设为前收盘价
            # cbond_preclose = row[cbond_pair[0]]    # 日内return指标用 现价/昨日收盘价 计算
            stock_preclose[i] = row[cbond_list[i]]
        
# 检查df是否有空值
cbond_return.isnull().sum(axis=0)  # 按列统计
cbond_return.isnull().sum(axis=1) # 按行统计
cbond_return.isnull().sum(axis=1).sum() # 统计整张表

46465

In [9]:
# cbond_return = cbond_return.dropna()
cbond_return

,000792.SZ,600989.SH,000422.SZ,000731.SZ,600352.SH,002497.SZ,600309.SH,600273.SH,600230.SH,002145.SZ,600378.SH
2020-10-29 15:00:00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-10-30 09:30:00,NaN,0.001883,-0.003831,0.002012,0.001472,-0.000755,0.005864,0.003043,0.001018,-0.012069,0.006284
2020-10-30 09:31:00,NaN,0.000000,-0.003831,0.000000,0.000736,0.001509,0.010835,-0.002028,0.004073,-0.013793,0.005386
2020-10-30 09:32:00,NaN,-0.000942,-0.003831,0.000000,0.002208,0.003774,0.006119,-0.003043,-0.002037,-0.017241,0.010772
2020-10-30 09:33:00,NaN,-0.001883,-0.003831,0.002012,0.002208,-0.001509,0.007903,-0.005071,-0.003055,-0.013793,0.013465
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-28 14:56:00,-0.057734,-0.036863,-0.052387,-0.033877,-0.023052,-0.025843,-0.008421,-0.043908,-0.056322,-0.072340,-0.014777
2022-10-28 14:57:00,-0.058165,-0.036863,-0.051724,-0.033877,-0.023052,-0.026217,-0.008421,-0.043908,-0.056322,-0.070922,-0.014777
2022-10-28 14:58:00,-0.058165,-0.036863,-0.051724,-0.033877,-0.023052,-0.026217,-0.008421,-0.043908,-0.056322,-0.070922,-0.014777
2022-10-28 14:59:00,-0.058165,-0.036863,-0.051724,-0.033877,-0.023052,-0.026217,-0.008421,-0.043908,-0.056322,-0.070922,-0.014777
2022-10-28 15:00:00,-0.058595,-0.038431,-0.053050,-0.035132,-0.023052,-0.027341,-0.011187,-0.042810,-0.055770,-0.070922,-0.016624

In [10]:
cbond_return.isnull().sum(axis=0)  # 按列统计

000792.SZ    46465
600989.SH        0
000422.SZ        0
000731.SZ        0
600352.SH        0
002497.SZ        0
600309.SH        0
600273.SH        0
600230.SH        0
002145.SZ        0
600378.SH        0
dtype: int64

In [11]:
# cbond_return = cbond_return.dropna()

# correlation & cointegration test

In [12]:
# print(cbond_return.corr(method='pearson').describe())
pd.set_option('display.max_columns',None)
df_corr = cbond_return.corr(method='pearson')
for i in range(len(df_corr)):
    df_corr.iloc[i,i]=np.nan
tmp_se = df_corr.max()
# df_corr
print('max corr code:',f'\'{tmp_se.idxmax()}\'')
tmp_se.sort_values(ascending=False)

max corr code: '000792.SZ'

000792.SZ    0.547179
002497.SZ    0.547179
000422.SZ    0.459187
000731.SZ    0.459187
600273.SH    0.406422
600989.SH    0.395932
600309.SH    0.395932
600352.SH    0.393698
600230.SH    0.380641
600378.SH    0.363568
002145.SZ    0.306906
dtype: float64

In [13]:
main_code = '600888.SH'
tmp_line = df_corr.loc[main_code]
tmp_line = pd.DataFrame(tmp_line)
for index,row in tmp_line.iterrows():
    if row[main_code] == tmp_se.loc[main_code]:
        # print(index)
        sec_code = index
        tmp_corr = tmp_se.loc[main_code]
print(f'\'{main_code}\',\'{sec_code}\'','@',tmp_corr)

KeyError: '600888.SH'

In [ ]:
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
def cointegration_test(y, x):
    ols_result = sm.OLS(y, x).fit()
    return adfuller(ols_result.resid)
pair_code = [main_code,sec_code]
x_code = pair_code[0]
y_code = pair_code[1]   
x = cbond_return[x_code].tolist()
y = cbond_return[y_code].tolist()

cointegration_test(y, x),cointegration_test(x, y)

# output to pickle

In [ ]:
save_path = f'/Users/bokie/code/python/CMS/可转债套利/cms/stat_arb/stk_data/price/{target_industry}.pkl'
cbond_price.to_pickle(save_path)
save_path = f'/Users/bokie/code/python/CMS/可转债套利/cms/stat_arb/stk_data/return/{target_industry}.pkl'
cbond_return.to_pickle(save_path)
target_industry