# import data

In [1]:
import pandas as pd
import numpy as np
from WindPy import *
#Wind API 使用W账户密码登录
w.start() 
#return True and then can go to next operation.
w.isconnected()

22.11.1.52440
Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2021 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

True

In [2]:
df_origin = pd.read_excel('stocks.xlsx')
df_contract_value =  df_origin.set_index('date')[['lastUpdateTime','Unnamed: 82']].reset_index()
df_contract_value.columns = ['code','value','industry']
code_list = df_origin['date'].unique().tolist()
stk_code_list = []
for code in code_list:
    if len(str(code).split('.')) == 2:
        if str(code).split('.')[1] == 'HK' or str(code).split('.')[1] == 'SH' or str(code).split('.')[1] == 'SZ':
            if len(str(code).split('.')[0]) == 6:
                stk_code_list.append(code)
stk_code_str = ','.join(stk_code_list)
print(len(stk_code_list))
df_stk_wind =  w.wss(f"{stk_code_str}", "sec_name", "tradeDate=20221102;",usedf=True)[1]
code_list = df_origin['date'].unique().tolist()
stk_code_list = []
for code in code_list:
    if len(str(code).split('.')) == 2:
        if str(code).split('.')[1] == 'HK' or str(code).split('.')[1] == 'SH' or str(code).split('.')[1] == 'SZ':
            if len(str(code).split('.')[0]) == 6:
                stk_code_list.append(code)
stk_code_str = ','.join(stk_code_list)
print(len(stk_code_list))
df_stk_info = df_contract_value.set_index('code').loc[stk_code_list]
# pd.set_option('display.max_rows', None)
df_stk_info['name'] = df_stk_wind['SEC_NAME']
df_stk_clean = df_stk_info[df_stk_info['industry']!=0].fillna('工业').sort_values(by='industry').reset_index()
df_stk_clean = df_stk_clean[['code','name','value','industry']]
# pd.set_option('display.max_rows', None)
df_stk_clean['value'] = df_stk_clean['value'].apply(lambda x: format(x, 'f'))

tmp_str = ','.join(df_stk_clean['code'].tolist())
df_ipo_date = w.wss(tmp_str, "ipo_date", "",usedf=True)[1].reset_index()
df_stk_clean['IPO_DATE'] = df_ipo_date['IPO_DATE']
# df_stk_clean.to_excel('stock_hold.xlsx')

218
218

In [3]:
# pd.set_option('display.max_rows', None)
df_stk_clean

          code  name            value industry   IPO_DATE
0    601006.SH  大秦铁路   1675401.000000     交通运输 2006-08-01
1    000088.SZ   盐田港    127506.000000     交通运输 1997-07-28
2    600798.SH  宁波海运   1770720.000000     交通运输 1997-04-23
3    000099.SZ  中信海直    500916.000000     交通运输 2000-07-31
4    002027.SZ  分众传媒   7490642.000000       传媒 2004-08-04
..         ...   ...              ...      ...        ...
208  002726.SZ  龙大美食  20577789.540000     食品饮料 2014-06-26
209  002626.SZ   金达威  10064392.000000     食品饮料 2011-10-28
210  000858.SZ   五粮液   1425840.000000     食品饮料 1998-04-27
211  600197.SH   伊力特   2649348.000000     食品饮料 1999-09-16
212  600597.SH  光明乳业     99078.000000     食品饮料 2002-08-28

[213 rows x 5 columns]

In [4]:
idsty_stk_dic = {}
for index,row in df_stk_clean.iterrows():
    tmp_code = row['code']
    tmp_industry = row['industry']
    if tmp_industry not in idsty_stk_dic:
        idsty_stk_dic[tmp_industry] = [tmp_code]
    else:
        idsty_stk_dic[tmp_industry].append(tmp_code)
print(idsty_stk_dic.keys())
df_industry_count = pd.DataFrame(df_stk_clean['industry'].value_counts())
df_industry_count = df_industry_count.reset_index()
df_industry_count

dict_keys(['交通运输', '传媒', '公用事业', '农林牧渔', '医药生物', '商贸零售', '国防军工', '基础化工', '家用电器', '工业', '建筑材料', '建筑装饰', '房地产', '有色金属', '机械设备', '汽车', '煤炭', '环保', '电力设备', '电子', '石油石化', '社会服务', '美容护理', '计算机', '轻工制造', '通信', '钢铁', '银行', '非银金融', '食品饮料'])

   index  industry
0   医药生物        21
1     电子        21
2   电力设备        20
3   有色金属        12
4   非银金融        12
5   食品饮料        11
6   基础化工        11
7    计算机        10
8   家用电器         8
9   建筑装饰         8
10  国防军工         7
11  建筑材料         7
12    传媒         7
13    汽车         6
14  商贸零售         6
15  机械设备         5
16   房地产         5
17  公用事业         5
18  农林牧渔         4
19  轻工制造         4
20    银行         4
21  交通运输         4
22    环保         3
23    钢铁         3
24    煤炭         2
25  石油石化         2
26    通信         2
27    工业         1
28  社会服务         1
29  美容护理         1

# industry setting

In [5]:
target_industry = '建筑装饰'
df_stk_clean[df_stk_clean['industry']==target_industry]

         code  name            value industry   IPO_DATE
81  002717.SZ  岭南股份   2630358.000000     建筑装饰 2014-02-19
82  601186.SH  中国铁建    107965.000000     建筑装饰 2008-03-10
83  601390.SH  中国中铁    493805.000000     建筑装饰 2007-12-03
84  601611.SH  中国核建     18308.000000     建筑装饰 2016-06-06
85  601800.SH  中国交建   3315284.000000     建筑装饰 2012-03-09
86  600039.SH  四川路桥  17128260.000000     建筑装饰 2003-03-25
87  603359.SH  东珠生态    939651.000000     建筑装饰 2017-09-01
88  600970.SH  中材国际    499410.000000     建筑装饰 2005-04-12

# return calculate

In [6]:
# # cbond_list = ['113516.SH','110043.SH',
# # ]
# cbond_list = idsty_stk_dic[target_industry]  
# # ###############################################################
# before_trade_date = '20201029'#监测当日前一个交易日
# present_date = '20201030' #监测当日
# # before_trade_date = '20201026'#监测当日前一个交易日
# # present_date = '20201027' #监测当日
# # next_trade_date = '20220917' #监测当日下一个自然日
# # ###############################################################

# start_date = pd.to_datetime(before_trade_date) 

# end_date = pd.to_datetime('20221030') #多一个月没关系，切片的时候，不需要这多出来的一个月的对子会切掉

# cbond_price = pd.DataFrame([])
# for code in cbond_list:
#     price_df = w.wsi(code, "close", start_date, end_date,usedf=True)[1]   #只要了收盘价
#     price_df.columns = [code]
#     cbond_price = pd.concat([cbond_price,price_df],axis=1)
# cbond_price = cbond_price.ffill()
# # cbond_price = cbond_price[cbond_price.index.time!=time(15,0,0)]
# # cbond_price = cbond_price.loc['2022-09-09 15:00:00':] #从前一个交易日的收盘价开始截取
# cbond_price_begin_time = before_trade_date[:4]+'-' + \
#                     before_trade_date[4:6]+'-' + \
#                     before_trade_date[6:8]+' 15:00:00'
# cbond_price = cbond_price.loc[cbond_price_begin_time:]
# cbond_price

In [7]:
read_path = f'/Users/bokie/code/python/CMS/可转债套利/cms/stat_arb/stk_data/price/{target_industry}.pkl'
cbond_price = pd.read_pickle(read_path)
# cbond_price = cbond_price[cbond_list]
cbond_price

,002717.SZ,601186.SH,601390.SH,601611.SH,601800.SH,600039.SH,603359.SH,600970.SH
2020-10-29 15:00:00,3.95,8.37,5.38,7.42,7.52,4.24,19.81,NaN
2020-10-30 09:30:00,3.95,8.40,5.40,7.44,7.53,4.39,19.82,NaN
2020-10-30 09:31:00,3.95,8.39,5.39,7.43,7.52,4.37,19.81,NaN
2020-10-30 09:32:00,3.94,8.43,5.39,7.42,7.52,4.37,19.79,NaN
2020-10-30 09:33:00,3.95,8.43,5.39,7.43,7.52,4.36,19.80,NaN
...,...,...,...,...,...,...,...,...
2022-10-28 14:56:00,2.53,7.06,5.29,7.63,6.88,11.33,10.26,8.50
2022-10-28 14:57:00,2.54,7.06,5.29,7.63,6.88,11.39,10.28,8.50
2022-10-28 14:58:00,2.54,7.06,5.29,7.63,6.88,11.39,10.28,8.50
2022-10-28 14:59:00,2.54,7.06,5.29,7.63,6.88,11.39,10.28,8.50
2022-10-28 15:00:00,2.54,7.05,5.27,7.63,6.88,11.38,10.28,8.48

In [8]:
# cbond_return = pd.DataFrame([])
# # tmp_stk_code = '601006.SH'
# # cbond_preclose = cbond_pair_price.iloc[0,0] # 初始时刻的bond前收盘价
# stock_preclose = cbond_price.iloc[0,:].tolist() # 初始时刻的stock前收盘价

# for index,row in cbond_price.iterrows():
    
#     # cbond_return.loc[index,cbond_pair[0]] = row[cbond_pair[0]]/cbond_preclose - 1 # 算日内的return
#     for i in range(len(cbond_list)):
#         cbond_return.loc[index,cbond_list[i]] = row[cbond_list[i]]/stock_preclose[i] - 1
#         if index.time()==time(15,0,0):  #算完日内return，迭代到今日价格的最后一个time bar的时候，将其设为前收盘价
#             # cbond_preclose = row[cbond_pair[0]]    # 日内return指标用 现价/昨日收盘价 计算
#             stock_preclose[i] = row[cbond_list[i]]
        
# # 检查df是否有空值
# cbond_return.isnull().sum(axis=0)  # 按列统计
# cbond_return.isnull().sum(axis=1) # 按行统计
# cbond_return.isnull().sum(axis=1).sum() # 统计整张表

In [9]:
read_path = f'/Users/bokie/code/python/CMS/可转债套利/cms/stat_arb/stk_data/return/{target_industry}.pkl'
cbond_return = pd.read_pickle(read_path)
# cbond_return = cbond_return[cbond_list]
cbond_return

,002717.SZ,601186.SH,601390.SH,601611.SH,601800.SH,600039.SH,603359.SH,600970.SH
2020-10-29 15:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
2020-10-30 09:30:00,0.000000,0.003584,0.003717,0.002695,0.001330,0.035377,0.000505,NaN
2020-10-30 09:31:00,0.000000,0.002389,0.001859,0.001348,0.000000,0.030660,0.000000,NaN
2020-10-30 09:32:00,-0.002532,0.007168,0.001859,0.000000,0.000000,0.030660,-0.001010,NaN
2020-10-30 09:33:00,0.000000,0.007168,0.001859,0.001348,0.000000,0.028302,-0.000505,NaN
...,...,...,...,...,...,...,...,...
2022-10-28 14:56:00,-0.030651,-0.012587,-0.011215,-0.041457,-0.029619,-0.026632,-0.040225,-0.050279
2022-10-28 14:57:00,-0.026820,-0.012587,-0.011215,-0.041457,-0.029619,-0.021478,-0.038354,-0.050279
2022-10-28 14:58:00,-0.026820,-0.012587,-0.011215,-0.041457,-0.029619,-0.021478,-0.038354,-0.050279
2022-10-28 14:59:00,-0.026820,-0.012587,-0.011215,-0.041457,-0.029619,-0.021478,-0.038354,-0.050279
2022-10-28 15:00:00,-0.026820,-0.013986,-0.014953,-0.041457,-0.029619,-0.022337,-0.038354,-0.052514

In [10]:
# 检查df是否有空值
cbond_return.isnull().sum(axis=0)  # 按列统计
cbond_return.isnull().sum(axis=1) # 按行统计
cbond_return.isnull().sum(axis=1).sum() # 统计整张表

485

In [11]:
cbond_return.isnull().sum(axis=0)  # 按列统计

002717.SZ      0
601186.SH      0
601390.SH      0
601611.SH      0
601800.SH      0
600039.SH      0
603359.SH      0
600970.SH    485
dtype: int64

In [12]:
# cbond_return = cbond_return.dropna()

# correlation & cointegration test

In [13]:
# print(cbond_return.corr(method='pearson').describe())
pd.set_option('display.max_columns',None)
df_corr = cbond_return.corr(method='pearson')
for i in range(len(df_corr)):
    df_corr.iloc[i,i]=np.nan
tmp_se = df_corr.max()
# df_corr
print('max corr code:',f'\'{tmp_se.idxmax()}\'')
tmp_se.sort_values(ascending=False)

max corr code: '601186.SH'

601186.SH    0.852732
601390.SH    0.852732
601800.SH    0.835038
601611.SH    0.459978
600039.SH    0.287841
600970.SH    0.267329
603359.SH    0.240355
002717.SZ    0.227209
dtype: float64

In [14]:
main_code = '601800.SH'
tmp_line = df_corr.loc[main_code]
tmp_line = pd.DataFrame(tmp_line)
for index,row in tmp_line.iterrows():
    if row[main_code] == tmp_se.loc[main_code]:
        # print(index)
        sec_code = index
        tmp_corr = tmp_se.loc[main_code]
print(f'\'{main_code}\',\'{sec_code}\'','@',tmp_corr)

'601800.SH','601186.SH' @ 0.8350379142162015

In [15]:
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
def cointegration_test(y, x):
    ols_result = sm.OLS(y, x).fit()
    return adfuller(ols_result.resid)
pair_code = [main_code,sec_code]
x_code = pair_code[0]
y_code = pair_code[1]   
x = cbond_return[x_code].tolist()
y = cbond_return[y_code].tolist()

cointegration_test(y, x),cointegration_test(x, y)

((-20.37481334492092,
  0.0,
  13,
  117357,
  {'1%': -3.4304057226500286,
   '5%': -2.8615646285784475,
   '10%': -2.5667831089235027},
  -1206957.6645204835),
 (-20.2277289097594,
  0.0,
  13,
  117357,
  {'1%': -3.4304057226500286,
   '5%': -2.8615646285784475,
   '10%': -2.5667831089235027},
  -1124999.167270014))

# output to pickle

In [16]:
# save_path = f'/Users/bokie/code/python/CMS/可转债套利/cms/stat_arb/stk_data/price/{target_industry}.pkl'
# cbond_price.to_pickle(save_path)
# save_path = f'/Users/bokie/code/python/CMS/可转债套利/cms/stat_arb/stk_data/return/{target_industry}.pkl'
# cbond_return.to_pickle(save_path)