In [10]:
from cmschina_tianyan.session import CmsSession
import pandas as pd
dataset = CmsSession.init(appId="cb632213cf764a019b32f8cc9d2040b7", appSecret="b23700b9fbf0090709c7b72ac0fdcb390cd19cc663bcf1c7a07c12b8c32bf377")

stk_code_list = ['300587.SZ',
'603185.SH',
'600674.SH',
'002203.SZ',
'601127.SH',
'002597.SZ',
'603348.SH',
'300487.SZ',
'603876.SH',
'601677.SH',
'300655.SZ',
'002078.SZ',
'002738.SZ', #2022-10-14新增4个对子
'002812.SZ',
'603596.SH',
'300332.SZ',]

stk_code = '603355.SH'

date = '20221030'

formatted_date = date[:4]+'-'+date[4:6]+'-'+date[6:]
df_res = []
for stk_code in stk_code_list:
    sql = f''' 
    SELECT * FROM wind_admin.ASHAREANNINF 
    where S_INFO_WINDCODE='{stk_code}' and ANN_DT = '{formatted_date}'
    order by ANN_DT desc
    '''

    df_ann = dataset.get_data(sql)
    
    # df_ann.to_excel(f'./news_ann/ann/{stk_code}.xlsx')
    if len(df_ann) != 0:
        df_ann_tmp = df_ann[['S_INFO_WINDCODE','ANN_DT','N_INFO_TITLE']]
        df_res.append(df_ann_tmp)

[2022-11-01T15:17:00.703093+0800] [87493] [INFO] [session.py] [63] PROD Env Init Completed!
[2022-11-01T15:17:00.786737+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:00.863468+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:00.945135+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.024288+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.103199+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.181789+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.256104+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.331841+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.401660+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.480241+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.559857+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.639031+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:01.972514+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:02.056178+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:02.128676+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data
[2022-11-01T15:17:02.212706+0800] [87493] [DEBUG] [tianyan_provider.py] [130] retrieve total 0 rows of data

In [13]:
if len(df_res)!=0:
    df_total = pd.concat(df_res)    
    df_total.to_excel(f'./news_ann/ann/{date}_ann.xlsx')
else:
    df_total = pd.DataFrame([])
    df_total.to_excel(f'./news_ann/ann/{date}_ann.xlsx')
df_total

Empty DataFrame
Columns: []
Index: []